# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
# don't check public files
src/public
# ignore files config on root
jest.config.js
model.env
.env
.gitignore
package.json
package-lock.json
tsconfig.json
__test
.eslintrc.js